* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  color: white;
  padding: 10px;

}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.menu_items {
  margin-right: 20px;
}

.menu_items a{
  color: #fff;
}

.dashboard_data{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}




